body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
.container {
  display: flex;
  justify-content: space-between; /* Distribuisci gli elementi su tutta la larghezza della pagina */
  margin: 20px; /* Aggiungi un margine per separare i contenuti dai bordi della pagina */
}

.left-column {
  flex: 1; /* La colonna sinistra occupa tutto lo spazio disponibile */
  border-right: 1px solid #000; /* Aggiungi una linea divisoria tra le colonne */
  padding: 20px; /* Aggiungi spazio intorno al contenuto */
}

.right-column {
  flex: 1; /* La colonna destra occupa tutto lo spazio disponibile */
  padding: 20px; /* Aggiungi spazio intorno al contenuto */
}

/* Stile per la foto */
.profile-image {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  max-width: 200px;
  height: auto;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h1,
h2 {
  color: #333;
}
h1 {
  text-align: center;
  font-size: 50px;
  color: blue;
}
h2 {
  font-size: 30px;
  margin-top: 20px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}
p {
  font-size: 23px;
  line-height: 1.6;
}
